# Ensure that the autossh connection is kept running
check process autossh with pidfile /hdc/config/autossh.pid
    start program = "/bin/bash -c 'AUTOSSH_LOGFILE=/hdc/config/autossh.log AUTOSSH_PIDFILE=/hdc/config/autossh.pid /usr/bin/autossh -f -M0 -N -R 4{{ endpoint_number }}:localhost:22 -i /home/hdc/.ssh/id_rsa endpoint@{{ ssh_anchor_ip}} -o BatchMode=yes -o ServerAliveInterval=30 -o ExitOnForwardFailure=yes'"
    stop program = "/bin/bash -c '/bin/kill `/bin/cat /hdc/config/autossh.pid`'"
    if 100 restarts within 100 cycles then timeout
